nav{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    padding: 0 10px;
}
*, *:hover, *:focus, *:active, *:visited{
    text-decoration: none;
    outline: none;
}





nav a:focus{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}